.profile_pic{
  height: 350px;
  float: right;
  padding-left: 1%;
}

.timeline{
  height: 20%;
  padding-top: 0%;
}

.skills{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

/* .gallery{
  height: 300px;
  float: right;
} */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
header {
  padding: 1px 0 30px 0;
  
  
}

nav {
  text-align: center;
  font-size: x-large;
}

nav ul {
  display: inline-block;
    list-style-type: none;
}

nav li {
  margin: 0;
  padding: 10px;
  display: inline;
  align-content: center;
  justify-content: center;
}

footer {
  /* padding: 10px 10px; */
  background: rgba(211, 211, 211, 0.5);
  font-size: larger;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0 auto;
}

main {
  padding: 10px;
}


/* ================================================================================================================= */

html, body {
  position: relative;
  height: 100%;
  overflow: hidden;
  /* background: #eee; */
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.swiper-container-wrapper--timeline .swiper-slide {
  display: block;
  text-align: center;
  background: rgba(211, 211, 211, 0.5);
  min-height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.swiper-container-wrapper--timeline .swiper-slide .container {
  padding: 0;
  width: 100%;
}
.swiper-container-wrapper--timeline .swiper-slide .title {
  font-size: 18px;
  opacity: 0;
  transition: 0.5s ease 0.5s;
}
.swiper-container-wrapper--timeline .swiper-slide-active .title {
  opacity: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
  position: relative;
  margin-bottom: 70px;
  background-color: transparent;
  height: 4px;
  border-bottom: 1px solid #888;
  width: 75%;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
  background-color: #000;
  height: 3px;
  top: 2px;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
  position: absolute;
  top: 2px;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
  position: absolute;
  top: 3px;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #888;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-custom {
  position: relative;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  line-height: 1.66;
  bottom: 0;
  z-index: 11;
  width: 75%;
  display: flex;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
  position: absolute;
  font-weight: 400;
  right: 0;
  transform: translateX(50%);
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
  position: absolute;
  top: calc(100% + 19px);
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 2rem;
  content: "";
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
  font-weight: 400;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
  background: #000;
  width: 25px;
  height: 25px;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title {
  color: #888;
  font-weight: 16px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title:after {
  background: #888;
}

/* ========================================================================================= */

 /* * {
	 box-sizing: border-box;
	 padding: 0;
	 margin: 0;
}
 body {
	 font-family: 'Roboto', sans-serif;
	 font-size: 0.925rem;
} */
 a {
	 text-decoration: none;
}
 .container {
	 width: 1170px;
	 position: relative;
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 15px;
	 padding-right: 15px;
}
 .navbar, .navbar > .container {
	 width: 100%;
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
	 justify-content: space-between;
}
 @media (max-width: 768px) {
	 .navbar, .navbar > .container {
		 display: block;
	}
}
 .navbar {
	 /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
	 background-color: #fff;
	 padding: 1rem 1.15rem;
	 /* border-bottom: 1px solid #eceef3; */
	/* |----------------------------------- | Start navbar logo or brand etc.. |----------------------------------- */
	/* |----------------------------------- | Start navbar menu |----------------------------------- */
}
 @media (min-width: 576px) {
	 .navbar .container {
		 max-width: 540px;
	}
}
 @media (min-width: 768px) {
	 .navbar .container {
		 max-width: 720px;
	}
}
 @media (min-width: 992px) {
	 .navbar .container {
		 max-width: 960px;
	}
}
 @media (min-width: 1200px) {
	 .navbar .container {
		 max-width: 1140px;
	}
}
 .navbar .navbar-header {
	 display: flex;
	 align-items: center;
}
 @media (max-width: 768px) {
	 .navbar .navbar-header {
		 width: 100%;
		 display: flex;
		 align-items: center;
		 justify-content: space-between;
		 flex-direction: row-reverse;
	}
}
 .navbar .navbar-header .navbar-toggler {
	 cursor: pointer;
	 border: none;
	 display: none;
	 outline: none;
}
 @media (max-width: 768px) {
	 .navbar .navbar-header .navbar-toggler {
		 display: block;
	}
}
 .navbar .navbar-header .navbar-toggler span {
	 height: 2px;
	 width: 22px;
	 background-color: #929aad;
	 display: block;
}
 .navbar .navbar-header .navbar-toggler span:not(:last-child) {
	 margin-bottom: 0.2rem;
}
 .navbar .navbar-header > a {
	 font-weight: 500;
	 color: #3c4250;
}
 .navbar .navbar-menu {
	 display: flex;
	 align-items: center;
	 flex-basis: auto;
	 flex-grow: 1;
}
 @media (max-width: 768px) {
	 .navbar .navbar-menu {
		 display: none;
		 text-align: center;
	}
}
 .navbar .navbar-menu .navbar-nav {
	 margin-left: auto;
	 flex-direction: row;
	 display: flex;
	 padding-left: 0;
	 margin-bottom: 0;
	 list-style: none;
}
 @media (max-width: 768px) {
	 .navbar .navbar-menu .navbar-nav {
		 width: 100%;
		 display: block;
		 border-top: 1px solid #eee;
		 margin-top: 1rem;
	}
}
 .navbar .navbar-menu .navbar-nav > li > a {
	 color: #3c4250;
	 text-decoration: none;
	 display: inline-block;
	 padding: 0.5rem 1rem;
}
 .navbar .navbar-menu .navbar-nav > li > a:hover {
	 color: #66f;
}
 @media (max-width: 768px) {
	 .navbar .navbar-menu .navbar-nav > li > a {
		 border-bottom: 1px solid #eceef3;
	}
}
 .navbar .navbar-menu .navbar-nav > li.active a {
	 color: #66f;
}
 .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
	 list-style: none;
	 position: absolute;
	 top: 150%;
	 left: 0;
	 background-color: #fff;
	 padding-top: 0.5rem;
	 padding-bottom: 0.5rem;
	 min-width: 160px;
	 width: auto;
	 white-space: nowrap;
	 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	 z-index: 99999;
	 border-radius: 0.75rem;
	 display: none;
}
 @media (max-width: 768px) {
	 .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
		 position: relative;
		 box-shadow: none;
	}
}
 .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
	 color: #3c4250;
	 padding: 0.25rem 1rem;
	 display: block;
}
 .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
	 display: block !important;
}
 .navbar .navbar-menu .navbar-nav .dropdown > .separator {
	 height: 1px;
	 width: 100%;
	 margin-top: 9px;
	 margin-bottom: 9px;
	 background-color: #eceef3;
}
 .navbar .navbar-dropdown {
	 position: relative;
}
 .navbar .navbar-header > a span {
	 color: #66f;
}
 .navbar .navbar-header h4 {
	 font-weight: 500;
	 font-size: 1.25rem;
}
 @media (max-width: 768px) {
	 .navbar .navbar-header h4 {
		 font-size: 1.05rem;
	}
}
 